<ul class="nav nav-list">
  {% for c in site.collections %}

  <h4>{{ c[0] | capitalize }}</h4>

    <ul class="nav nav-list">

    {% for coll_cat in c[1].categories %}
      <li>

        <strong>{{ coll_cat | capitalize }} </strong>

        {% for doc in c[1].docs %}

          {% for doc_cat in doc.categories %}
            
          <ul class="nav nav-list">
            {% if doc_cat == coll_cat %}
              <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
            {% endif %}
          </ul>

          {% endfor %}

        {% endfor %}

      </li>

    {% endfor %}

    </ul>

  {% endfor %}

</ul>
